---
import Umbrella from "@/assets/decorations/umbrella.svg";
import Grass from "@/assets/decorations/grass/Grass.astro";
---

<div
	class="xs:block relative hidden overflow-x-clip sm:w-5/12"
	aria-label="Purple umbrella laying in grass"
>
	<div class="absolute inset-0" aria-hidden={true}>
		<div
			class="fill-grass-500 absolute bottom-0 flex h-20 w-full items-end overflow-clip"
		>
			<Grass class="absolute -bottom-1 left-89 h-12" />
			<Grass class="absolute -bottom-1 left-25 h-10" data-flipped />
		</div>
		<div
			class="absolute h-fit w-fit origin-bottom translate-x-64 -translate-y-[5.125rem] rotate-[-56.7deg]"
		>
			<Umbrella class="umbrella" width="394" />
		</div>
		<div
			class="fill-grass-400 absolute bottom-0 flex h-20 w-full items-end overflow-clip"
		>
			<Grass class="absolute -bottom-1 left-0 h-10" data-flipped />
			<Grass class="absolute -bottom-1 left-2 h-6" />
			<Grass class="absolute -bottom-1 left-10 h-11" />
			<Grass class="absolute -bottom-1 left-16 h-10" data-flipped />
			<Grass class="fill-grass-300 absolute -bottom-1 left-12 h-13" />
			<Grass class="fill-grass-300 absolute -bottom-1 left-12 h-16" />
			<Grass class="absolute -bottom-1 left-27 h-12" />
			<Grass
				class="fill-grass-300 absolute -bottom-1 left-29 h-10"
				data-flipped
			/>
			<Grass class="absolute -bottom-1 left-75 h-8" data-flipped />
			<Grass class="absolute -bottom-1 left-68 h-10" />
			<Grass
				class="fill-grass-300 absolute -bottom-1 left-69 h-14"
				data-flipped
			/>
			<Grass class="fill-grass-300 absolute -bottom-1 left-90 h-15" />
			<Grass
				class="fill-grass-300 absolute -bottom-1 left-90 h-16"
				data-flipped
			/>
			<Grass class="absolute -bottom-1 left-99 h-10" data-flipped />
			<Grass class="absolute -bottom-1 left-122 h-8" />
			<Grass class="absolute -bottom-1 left-135 h-10" />
			<Grass
				class="fill-grass-300 absolute -bottom-1 left-122 h-15"
				data-flipped
			/>
			<Grass class="fill-grass-300 absolute -bottom-1 left-134 h-14" />
		</div>
	</div>
</div>
<style>
	:root:where([data-theme="dark"], [data-theme="dark"] *) svg.umbrella {
		/* --fill-umbrella-50: var(--color-violet-600);
		--fill-umbrella-300: var(--color-violet-700);
		--fill-umbrella-400: var(--color-violet-800);
		--fill-umbrella-900: var(--color-violet-900);
		--fill-umbrella-950: var(--color-violet-950);
		--fill-umbrella-gray-600: var(--color-gray-600);
		--fill-umbrella-gray-900: var(--color-gray-900); */
		filter: brightness(50%);
	}

	.fill-grass-300 {
		fill: var(--color-accent-300);
	}
	.fill-grass-400 {
		fill: var(--color-accent-400);
	}
	.fill-grass-500 {
		fill: var(--color-accent-500);
	}

	:root:where([data-theme="dark"], [data-theme="dark"] *) .fill-grass-300 {
		fill: var(--color-accent-700);
	}
	:root:where([data-theme="dark"], [data-theme="dark"] *) .fill-grass-400 {
		fill: var(--color-accent-800);
	}
	:root:where([data-theme="dark"], [data-theme="dark"] *) .fill-grass-500 {
		fill: var(--color-accent-900);
	}
</style>
