---
import Umbrella from "@/assets/decorations/umbrella.svg";
import Grass from "@/assets/decorations/grass/Grass.astro";
---

<div
	class="xs:block relative hidden overflow-x-clip sm:w-5/12"
	aria-label="Purple umbrella laying in grass"
>
	<div class="absolute inset-0">
		<div
			class="fill-secondary absolute bottom-0 flex h-20 w-full items-end overflow-clip"
		>
			<Grass class="absolute -bottom-1 left-89 h-12" />
			<Grass
				class="absolute -bottom-1 left-25 h-10 delay-[-1000ms]"
				data-flipped
			/>
		</div>
		<div
			class="absolute h-fit w-fit origin-bottom translate-x-64 -translate-y-[5.125rem] rotate-[-56.7deg]"
		>
			<Umbrella width="394" />
		</div>
		<div
			class="fill-secondary absolute bottom-0 flex h-20 w-full items-end overflow-clip"
		>
			<Grass
				class="absolute -bottom-1 left-0 h-10 delay-[-1000ms]"
				data-flipped
			/>
			<Grass class="absolute -bottom-1 left-2 h-6" />
			<Grass class="absolute -bottom-1 left-10 h-11 delay-[-75ms]" />
			<Grass
				class="absolute -bottom-1 left-16 h-10 delay-[-1000ms]"
				data-flipped
			/>
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-12 h-13 delay-[-100ms]"
			/>
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-12 h-16 delay-[-20ms]"
			/>
			<Grass class="absolute -bottom-1 left-27 h-12 delay-[-1000ms]" />
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-29 h-10"
				data-flipped
			/>
			<Grass class="absolute -bottom-1 left-75 h-8" data-flipped />
			<Grass class="absolute -bottom-1 left-68 h-10" />
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-69 h-14"
				data-flipped
			/>
			<Grass class="fill-secondary-brighter absolute -bottom-1 left-90 h-15" />
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-90 h-16"
				data-flipped
			/>
			<Grass class="absolute -bottom-1 left-99 h-10" data-flipped />
			<Grass class="absolute -bottom-1 left-122 h-8" />
			<Grass class="absolute -bottom-1 left-135 h-10" />
			<Grass
				class="fill-secondary-brighter absolute -bottom-1 left-122 h-15"
				data-flipped
			/>
			<Grass class="fill-secondary-brighter absolute -bottom-1 left-134 h-14" />
		</div>
	</div>
</div>
