---
import { Picture } from "astro:assets";

import { getCollection, getEntry } from "astro:content";
import { tv } from "tailwind-variants";

interface Props {
	postId: string;
	size: "small" | "medium" | "large";
	priority?: boolean;
}
const { postId }: Props = Astro.props;
const posts = await getCollection("posts");
const post = posts.find((post) => post.id === postId);

if (!post) return;

const authorsPromise = post.data.authors.map(async (author) => {
	const authorEntry = await getEntry("authors", author.id);
	if (!authorEntry) throw new Error(`Missing author (author.id ${author.id})`);
	return authorEntry.data;
});
const authors = await Promise.all(authorsPromise);

const authorStyling = tv({
	base: "not-format flex gap-2",
	variants: {
		size: {
			large: "xs:self-center items-end",
			medium: "",
			small: "items-end text-sm",
		},
	},
});

const { size, priority } = Astro.props;
---

<div class={authorStyling({ size })}>
	<div
		class=`flex ${size === "large" ? "-space-x-4" : "-space-x-2"} rtl:space-x-reverse flex-shrink-0 ${size !== "medium" ? "items-end" : ""} `
	>
		{
			authors.map((author) =>
				author.profile ? (
					<Picture
						alt=""
						class:list={[
							"m-0 rounded-full border-2 border-white object-cover dark:border-gray-900",
							{ "h-12 w-12 lg:h-14 lg:w-14": size === "large" },
							{ "h-7 w-7": size === "medium" },
							{ "xs:w-6 xs:h-6 h-7 w-7": size === "small" },
						]}
						formats={["avif", "jpg"]}
						fallbackFormat="jpg"
						src={author.profile}
						priority={priority}
					/>
				) : (
					<div
						class:list={[
							"relative z-[1] inline-flex items-center justify-center overflow-hidden rounded-full border-2 border-white bg-gray-100 dark:border-gray-900 dark:bg-gray-600",
							{ "h-12 w-12 lg:h-14 lg:w-14": size === "large" },
							{ "h-7 w-7": size === "medium" },
							{ "xs:w-6 xs:h-6 h-7 w-7": size === "small" },
						]}
						aria-hidden={true}
					>
						<span
							class:list={[
								"mt-[0.25em] font-medium text-gray-600 select-none dark:text-gray-300",
								{ "text-[0.5rem]": size !== "large" },
							]}
						>
							{author.name
								.split(" ")
								.map((name) => name[0])
								.join("")
								.toUpperCase()}
						</span>
					</div>
				),
			)
		}
	</div>
	{
		size !== "large" && (
			<p
				class:list={[
					"format dark:format-invert !m-0",
					{ "xs:leading-5 xs:!text-sm leading-6": size === "small" },
					{ "leading-8": size === "medium" },
				]}
			>
				{authors.map((author) => author.name).join(", ")}
			</p>
		)
	}
</div>
