---
import type { LocalImageProps, RemoteImageProps } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import Picture from "@/components/primitives/Picture.astro";
import { inferRemoteSize } from "astro:assets";

// Duplicated from Picture.astro, with extra "placeholder" param
type Props = (LocalImageProps | RemoteImageProps) & {
	pictureAttributes?: HTMLAttributes<"picture">;
	/**
	 * @default true
	 */
	placeholder?: boolean;
};

const { class: className, pictureAttributes, ...rest } = Astro.props;

let calculatedSrc = "";
let calculatedWidth = "";
let calculatedHeight = "";

if (typeof Astro.props.src !== "string") {
	const resolveSrc = await Promise.resolve(Astro.props.src);
	const src = "default" in resolveSrc ? resolveSrc.default : resolveSrc;
	calculatedSrc = src.src;
	calculatedWidth = String(src.width);
	calculatedHeight = String(src.height);
} else {
	const { width, height } = await inferRemoteSize(Astro.props.src);
	calculatedSrc = Astro.props.src;
	calculatedWidth = String(width);
	calculatedHeight = String(height);
}
---

<a
	id="bigger-picture"
	href={calculatedSrc}
	class="ring-offset-background mx-auto flex items-center justify-center rounded-md ring-offset-4 outline-hidden hover:cursor-pointer focus-visible:ring-2"
	data-astro-reload
>
	{/* I have no idea why adding layout="constrained" breaks types */}
	{/* @ts-expect-error */}
	<Picture
		layout="constrained"
		data-width={calculatedWidth}
		data-height={calculatedHeight}
		{...rest}
		class:list={[
			"mx-auto !my-0 flex items-center justify-center rounded-md object-cover",
			className,
		]}
		pictureAttributes={pictureAttributes ?? { class: "not-format" }}
	/>
</a>
