---
import type { LocalImageProps, RemoteImageProps } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import Picture from "@/components/primitives/Picture.astro";

// Duplicated from Picture.astro, with extra "placeholder" param
type Props = (LocalImageProps | RemoteImageProps) & {
	pictureAttributes?: HTMLAttributes<"picture">;
	/**
	 * @default true
	 */
	placeholder?: boolean;
};

const { class: className, pictureAttributes, ...rest } = Astro.props;
---

<button
	id="bigger-picture"
	class="mx-auto flex items-center justify-center rounded-md ring-violet-600 ring-offset-4 ring-offset-white outline-none hover:cursor-pointer focus-visible:ring-2 dark:ring-gray-50 dark:ring-offset-gray-900"
	aria-label="Expand image"
>
	{/* I have no idea why adding layout="constrained" breaks types */}
	{/* @ts-expect-error */}
	<Picture
		formats={["avif", "jpg"]}
		fallbackFormat="jpg"
		layout="constrained"
		{...rest}
		class:list={[
			"mx-auto !my-0 flex items-center justify-center rounded-md object-cover",
			className,
		]}
		pictureAttributes={pictureAttributes ?? { class: "not-format" }}
	/>
</button>
