---
import {
	type LocalImageProps,
	Picture,
	type RemoteImageProps,
} from "astro:assets";

import type { ImageOutputFormat } from "astro";
import type { HTMLAttributes } from "astro/types";

// Shamelessly duplicated (with missing props) from Picture.astro
// because I don't know any better
type Props = (LocalImageProps | RemoteImageProps) & {
	pictureAttributes: HTMLAttributes<"picture">;
	formats?: ImageOutputFormat[];
	fallbackFormat?: ImageOutputFormat;
};

const { class: className, pictureAttributes, ...rest } = Astro.props;
---

<button
	id="bigger-picture"
	class="mx-auto flex items-center justify-center rounded-md ring-violet-600 ring-offset-4 ring-offset-white outline-none hover:cursor-pointer focus-visible:ring-2 dark:ring-gray-50 dark:ring-offset-gray-900"
	aria-label="Expand image"
>
	<Picture
		formats={["avif", "webp"]}
		{...rest}
		class:list={[
			"mx-auto !my-0 flex h-auto w-auto items-center justify-center rounded-md object-cover",
			className,
		]}
		pictureAttributes={pictureAttributes ?? { class: "not-format" }}
	/>
</button>
