---
import {
	type LocalImageProps,
	Picture,
	type RemoteImageProps,
} from "astro:assets";

import type { HTMLAttributes } from "astro/types";

// Shamelessly duplicated (with missing props) from Picture.astro
// because I don't know any better
type Props = (LocalImageProps | RemoteImageProps) & {
	pictureAttributes: HTMLAttributes<"picture">;
};

const { class: className, pictureAttributes, ...rest } = Astro.props;
---

<button
	id="bigger-picture"
	class="mx-auto flex items-center justify-center rounded-md ring-violet-600 ring-offset-4 ring-offset-white outline-none hover:cursor-pointer focus-visible:ring-2 dark:ring-gray-50 dark:ring-offset-gray-900"
	aria-label="Expand image"
>
	<!-- @ts-expect-error - I have no idea why types are invalid here it should just work?? -->
	<Picture
		formats={["avif", "jpg"]}
		fallbackFormat="jpg"
		layout="constrained"
		{...rest}
		class:list={[
			"mx-auto !my-0 flex items-center justify-center rounded-md bg-violet-100 object-cover dark:bg-gray-800",
			className,
		]}
		pictureAttributes={pictureAttributes ?? { class: "not-format" }}
	/>
</button>
