<form
	action={"https://transfemcircle.us10.list-manage.com/subscribe/post?u=04f712b86b6546dee2afa93ec&id=ce83cc9d67&f_id=00cfcde5f0" ??
		"https://anonaddy.us18.list-manage.com/subscribe/post?u=4012a96cd680606b6ce233800&amp;id=1844e3f354&amp;f_id=00919de6f0"}
	method="post"
	id="mc-embedded-subscribe-form"
	name="mc-embedded-subscribe-form"
	class="mb-8"
	target="_blank"
>
	<span class="text-sm"
		><span class="text-red-500">*</span> indicates required</span
	>
	<div class="grid gap-4">
		<div class="mc-field-group">
			<label for="mce-EMAIL"
				>Email Address <span class="text-red-500">*</span></label
			>
			<input
				type="email"
				name="EMAIL"
				class="bg-gray-50 border border-gray-300 text-gray-900 disabled:text-gray-500 dark:disabled:text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				id="mce-EMAIL"
				required
				value=""
				autocomplete="email"
				pattern="[-a-zA-Z0-9~!$%^&*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?"
			/>
		</div>
		<div class="mc-field-group">
			<label for="mce-FNAME">Chosen Name</label>
			<input
				type="text"
				name="FNAME"
				class="bg-gray-50 border border-gray-300 text-gray-900 disabled:text-gray-500 dark:disabled:text-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
				id="mce-FNAME"
			/>
			<span class="text-sm"
				>This will help us contact you directly via email, if you request.</span
			>
		</div>
		<div id="mce-responses">
			<div
				class="rounded not-format px-4 py-3 bg-red-50 text-red-500 selection:bg-red-200 selection:text-red-900 dark:bg-red-950 dark:text-red-400 dark:selection:text-red-300 dark:selection:bg-red-800 outline-none"
				id="mce-error-response"
				style="display: none;"
			>
				An error occurred! Try again, refresh the page, disable any content
				blockers, or contact us.
			</div>
			<div
				class="rounded not-format px-4 py-3 bg-green-50 text-green-700 selection:bg-green-200 selection:text-green-900 dark:bg-green-950 dark:text-green-400 dark:selection:text-green-300 dark:selection:bg-green-800 outline-none"
				id="mce-success-response"
				style="display: none;"
			>
				Success! Check your email to confirm your subscription.
			</div>
		</div>
		<!--  real people should not fill this in and expect good things - 
				do not remove this or risk form bot signups -->
		<div aria-hidden="true" style="position: absolute; left: -5000px;">
			<input
				type="text"
				name="b_faf118b7ec5be23b94e4c9fc0_0fc2bd3630"
				tabindex="-1"
				value=""
			/>
		</div>
		<input
			type="submit"
			id="subscribe-btn"
			class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 hover:cursor-pointer disabled:opacity-50 disabled:hover:bg-blue-700 disabled:hover:dark:bg-blue-600"
			value="Subscribe"
		/>
	</div>
	<p>
		By subscribing, you agree with Mailchimp's <a
			href="https://mailchimp.com/legal/terms/"
			target="_blank"
			referrerpolicy="no-referrer">Terms of Service</a
		> and <a
			href="https://www.intuit.com/privacy/statement/"
			target="_blank"
			referrerpolicy="no-referrer">Privacy Policy</a
		>.
	</p>
</form>
<script>
	// Display the form status
	function displayMailchimpStatus(data: any) {
		// Make sure the data is in the right format
		if (!data.result || !data.msg) return;
		console.log(data.msg);

		// Get the status message content area
		const mcStatus =
			data.result === "success"
				? document.getElementById("mce-success-response")
				: document.getElementById("mce-error-response");
		if (!mcStatus) throw new Error("mcStatus not found");

		// Show the status
		mcStatus.style.display = "block";

		// Bring our status message into focus
		mcStatus.setAttribute("tabindex", "-1");
		mcStatus.focus();

		// Update our status message
		mcStatus.innerHTML = data.msg;

		const subscribeButton = document.getElementById(
			"subscribe-btn"
		) as HTMLInputElement | null;

		if (data.result === "success") {
			console.log("Form submitted successfully.");
			if (subscribeButton) subscribeButton.style.display = "none";
		} else {
			if (subscribeButton) {
				subscribeButton.value = "Subscribe";
				subscribeButton.disabled = false;
			}
			console.error("Form submission failed.");
		}
	}

	// https://css-tricks.com/form-validation-part-4-validating-mailchimp-subscribe-form/
	// https://jklakus.co.uk/blogs/mailchimp-form-in-astro/
	function submitMailchimpForm(form: HTMLFormElement) {
		// Reset all displays
		const successElement = document.getElementById("mce-success-response");
		const errorElement = document.getElementById("mce-error-response");
		if (successElement) successElement.style.display = "none";
		if (errorElement) errorElement.style.display = "none";

		// Change Subscribe button state
		const subscribeButton = document.getElementById(
			"subscribe-btn"
		) as HTMLButtonElement | null;

		if (subscribeButton) {
			subscribeButton.disabled = true;
			subscribeButton.value = "Subscribing...";
		}

		// Get the Submit URL
		let url = form.getAttribute("action");
		if (!url) throw new Error("form action missing");
		url = url.replace("/post?u=", "/post-json?u=");
		url += serialize() + "&c=displayMailchimpStatus";

		// Create script with url and callback (if specified)
		const script = window.document.createElement("script");
		script.src = url;

		// Insert script tag into the DOM (append to <head>)
		const ref = window.document.getElementsByTagName("script")[0];
		ref.parentNode?.insertBefore(script, ref);

		// After the script is loaded (and executed), remove it
		let loadedScript = false;
		script.onload = function () {
			loadedScript = true;
			document.head.removeChild(script);
		};

		const windowTyped = window as unknown as {
			displayMailchimpStatus?: Function;
		};
		windowTyped.displayMailchimpStatus = (data: any) => {
			displayMailchimpStatus(data);
			delete windowTyped.displayMailchimpStatus;
		};

		setTimeout(() => {
			if (loadedScript) return;
			if (!subscribeButton) return;
			subscribeButton.disabled = false;
			subscribeButton.value = "Subscribe";

			// Get the status message content area
			const mcStatus = document.getElementById("mce-error-response");
			if (!mcStatus) return;

			// Show the status
			mcStatus.style.display = "block";

			// Update our status message
			mcStatus.innerHTML =
				'An error occurred. If you\'re using Firefox, try disabling <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop#w_what-to-do-if-a-site-seems-broken" target="_blank" referrerpolicy="no-referrer" class="underline font-medium">Enhanced Tracking Protection</a>, then try again.';

			// Bring our status message into focus
			mcStatus.setAttribute("tabindex", "-1");
			mcStatus.focus();
		}, 5_000);
	}

	// Serialize the form data into a query string
	// Forked and modified from https://stackoverflow.com/a/30153391/1293256
	function serialize() {
		// Setup our serialized data
		let serialized = "";

		const fieldGroups = document.getElementsByClassName("mc-field-group");
		for (let i = 0; i < fieldGroups.length; i++) {
			const fieldGroup = fieldGroups.item(i);
			const inputCollection = fieldGroup?.getElementsByTagName("input");

			if (!inputCollection) continue;
			console.log(inputCollection);
			for (let j = 0; j < inputCollection.length; j++) {
				const input = inputCollection.item(j);
				if (!input) continue;
				console.log();

				if (
					!input.name ||
					input.disabled ||
					input.type === "file" ||
					input.type === "reset" ||
					input.type === "submit" ||
					input.type === "button"
				)
					// Don't serialize fields without a name, submits, buttons, file and reset inputs, and disabled fields
					continue;

				input.disabled = true;

				// Convert field data to a query string
				if (
					(input.type !== "checkbox" && input.type !== "radio") ||
					input.checked
				) {
					serialized +=
						"&" +
						encodeURIComponent(input.name) +
						"=" +
						encodeURIComponent(input.value);
				}
			}
		}

		return serialized;
	}

	// Copied from https://jklakus.co.uk/blogs/mailchimp-form-in-astro/
	document.addEventListener("DOMContentLoaded", async function () {
		const form = document.getElementById(
			"mc-embedded-subscribe-form"
		) as HTMLFormElement | null;
		if (!form) console.error("no form found");

		form?.addEventListener("submit", function (event) {
			event.preventDefault(); // Prevent the default form submission

			// Otherwise, let the form submit normally
			// You could also bolt in an Ajax form submit process here
			submitMailchimpForm(form);
		});
	});
</script>
