---
import type { MarkdownHeading } from "astro";

interface Props {
	heading: MarkdownHeading & { subheadings?: MarkdownHeading[] };
	depth?: number;
	"aria-current"?: boolean;
}

// Copied mostly from https://kld.dev/building-table-of-contents/
const { heading, "aria-current": ariaCurrent } = Astro.props;
const depth = Astro.props.depth ?? 1;
---

<li
	class={`${depth > 2 ? `hidden group-has-[[aria-current=true]]/item:block` : depth == 2 ? "group/item" : ""} list-none relative w-full h-full`}
>
	<a
		href={"#" + heading.slug}
		class="peer block py-[.375rem] !no-underline hover:text-violet-700 hover:!underline aria-current:text-gray-950 dark:hover:text-violet-300 dark:aria-current:text-gray-50"
		aria-current={ariaCurrent}
	>
		{heading.text}
	</a>
	<div
		class="absolute top-0 bottom-0 w-[2px] bg-gray-200 peer-aria-current:bg-violet-600 dark:bg-gray-800 dark:peer-aria-current:bg-violet-400"
	>
	</div>
	{
		heading.subheadings && heading.subheadings.length > 0 && (
			<ul>
				{heading.subheadings.map((subheading) => {
					return <Astro.self heading={subheading} depth={depth + 1} />;
				})}
			</ul>
		)
	}
</li>

<style define:vars={{ depth }}>
	a {
		margin-left: 1.75rem;
		padding-left: calc(1.75rem * calc(var(--depth) - 1)); /* 28px */
	}
</style>
