---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticleCard from "../../components/articles/ArticleCard.astro";
import Categories from "../../components/categories/Categories.astro";

const posts = await getCollection("posts");

type Props = {
	entry: CollectionEntry<"posts">;
};

const mostRecent = posts.sort(
	(p) => p.data.lastEdited?.getDate() ?? p.data.created.getDate()
)[0];
---

<BaseLayout seo={{ title: "Articles" }}>
	<main
		class="mx-auto w-full max-w-screen-xl px-4 pt-24 format dark:format-invert lg:format-lg"
	>
		<h1>Articles</h1>
		<p>Neat, articles!</p>
		<Categories />
		<div class="flex flex-col md:flex-row gap-8">
			<div>
				<ul class="list-none !p-0 !m-0 flex flex-col gap-6 lg:align-middle">
					{
						posts
							// .filter((p) => !p.data.draft)
							.map(async (post) => <ArticleCard postId={post.id} />)
					}
				</ul>
			</div>
		</div>
	</main>
</BaseLayout>
