---
import WinnipegTransitBus from "./WinnipegTransitBus.astro";

import Peak from "./peak.svg";
import OffPeak from "./off-peak.svg";
import Night from "./night.svg";
---

{/* https://www.w3.org/WAI/tutorials/tables/irregular/ */}
<table>
	<thead>
		<tr>
			<th scope="col" colspan="2">Service Type</th>
			<th scope="col">Target Frequencies</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="rowgroup" class="[writing-mode:sideways-lr]"
				>Primary Transit Network</th
			>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="blue" />
			</th>
			<td><strong>Rapid Transit</strong></td>
			<td class="@container grid gap-y-1">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 4-10 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 5-10 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> 10-30 minutes
					</strong>
				</div>
				<em>Core frequencies, longer wait time for branches.</em>
			</td>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="fx2" />
				<WinnipegTransitBus type="fx3" />
				<WinnipegTransitBus type="fx4" />
			</th>
			<td><strong>Frequent Express</strong></td>
			<td class="@container grid">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 5-15 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 10-15 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> 10-30 minutes
					</strong>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="f" text="5" />
				<WinnipegTransitBus type="f" text="6" />
				<WinnipegTransitBus type="f" text="7" />
			</th>
			<td><strong>Frequent</strong></td>
			<td class="@container grid">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 10-15 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 10-15 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> 15-30 minutes
					</strong>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="d" text="14" />
				<WinnipegTransitBus type="d" text="16" />
				<WinnipegTransitBus type="d" text="18" />
			</th>
			<td><strong>Direct</strong></td>
			<td class="@container grid">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 10-15 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 10-20 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> 15-30 minutes
					</strong>
				</div>
			</td>
		</tr>
	</tbody>
	<tbody class="border-t border-(--tw-prose-th-borders)">
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="connector" text="28" />
				<WinnipegTransitBus type="connector" text="57" />
				<WinnipegTransitBus type="connector" text="74" />
			</th>
			<td><strong>Connector</strong></td>
			<td class="@container grid">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 15-30 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 15-30 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> 20-60 minutes
					</strong>
				</div></td
			>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus text="440" />
				<WinnipegTransitBus text="441" />
				<WinnipegTransitBus text="446" />
			</th>
			<td><strong>Community</strong></td>
			<td class="@container grid">
				<div class="grid gap-x-2 gap-y-1 @xs:grid-cols-2">
					<strong class="inline-flex items-center">
						<Peak aria-label={"Peak"} /> 30-60 minutes
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-label={"Off-Peak"} /> 30-60 minutes
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-label={"Night/Weekend"} /> Varies
					</strong>
				</div>
			</td>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus text="889" />
				<WinnipegTransitBus text="887" />
				<WinnipegTransitBus text="894" />
			</th>
			<td><strong>Limited</strong></td>
			<td>
				<span>
					<strong>Varies.</strong> Limited-span routes operate only at certain times
					of day.
				</span>
			</td>
		</tr>
		<tr>
			<th scope="row" class="flex gap-x-1">
				<WinnipegTransitBus type="on-request" text="101" />
				<WinnipegTransitBus type="on-request" text="105" />
				<WinnipegTransitBus type="on-request" text="111" />
			</th>
			<td><strong>On-Request</strong></td>
			<td>
				<span>
					<strong>Varies.</strong> Generally 5-20 minutes after booking a trip.
				</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th scope="row">Icons</th>
			<td>
				<span class="flex gap-x-6">
					<strong class="inline-flex items-center">
						<Peak aria-hidden="true" /> Peak
					</strong>
					<strong class="inline-flex items-center">
						<OffPeak aria-hidden="true" /> Off-Peak
					</strong>
					<strong class="inline-flex items-center">
						<Night aria-hidden="true" /> Night/Weekend
					</strong>
				</span>
			</td>
		</tr>
	</tfoot>
</table>

<style>
	table svg {
		display: inline;
		height: 1.5em;
		width: 1.5em;
		margin-right: 1ch;
	}
	table tbody th {
		display: flex;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}
</style>
