---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
	value: string;
}
const { value, ...rest } = Astro.props;
---

<category-button>
	<!-- "aria-selected" violates WCAG, as buttons auto-set this with very specific assumptions -->
	<button
		{...rest}
		class="ring-focus-outline flex flex-shrink-0 rounded-full bg-gray-100 px-4 py-2 text-base text-gray-600 no-underline outline-hidden transition-all select-none hover:-translate-y-1 hover:bg-gray-200 hover:text-gray-700 focus-visible:ring-2 active:bg-gray-300 aria-selected:bg-violet-200 aria-selected:text-violet-600 aria-selected:ring-1 focus-visible:aria-selected:ring-2"
		style={{
			transitionProperty: "color, background-color, transform",
		}}
		aria-selected="false"
	>
		<span class="self-baseline whitespace-nowrap">{value}</span>
	</button>
</category-button>

<script>
	class CategoryButton extends HTMLElement {
		constructor() {
			super();
			const button = this.querySelector("button");
			button?.addEventListener("click", () => {
				button.ariaSelected = button.ariaSelected === "true" ? "false" : "true";
			});
		}
	}
	customElements.define("category-button", CategoryButton);
</script>
