---
import { TagEnum } from "../../content/config";
import Category from "./Category.astro";
---

<div class="embla">
	<div class="embla__viewport -ml-1 overflow-hidden">
		<div
			class="embla__container mr-1 mb-4 flex touch-pan-y flex-row gap-x-2 pt-2 pl-1"
		>
			{
				TagEnum.options.map((value) => (
					<div class="embla__slide">
						<Category value={value} />
					</div>
				))
			}
		</div>
	</div>
</div>
<script>
	import EmblaCarousel from "embla-carousel";
	const emblaNode = document.querySelector(".embla") as HTMLElement;
	const viewportNode = emblaNode.querySelector(
		".embla__viewport",
	) as HTMLElement;
	EmblaCarousel(viewportNode, { dragFree: true });
</script>
<style>
	.embla__container {
		backface-visibility: hidden;
	}
</style>
