@import "tailwindcss";
@source "../components/underline-animate/underline-animate.ts";

/* prettier-ignore */
@plugin "@tailwindcss/typography" {
	/* biome-ignore lint/correctness/noUnknownProperty:
	No clue why it does not recognize it is part of Tailwind */
	className: format;
}

@plugin 'tailwind-scrollbar' {
	/* biome-ignore lint/correctness/noUnknownProperty:
	No clue why it does not recognize it is part of Tailwind */
	nocompatible: true;
}

@plugin 'tailwindcss-animate';

@theme {
	--breakpoint-xs: 475px;

	--color-base-neutral-100: var(--theme-color-base-neutral-100);
	--color-base-neutral-200: var(--theme-color-base-neutral-200);
	--color-base-neutral-300: var(--theme-color-base-neutral-300);

	--color-base-primary-100: var(--theme-color-base-primary-100);
	--color-base-primary-200: var(--theme-color-base-primary-200);
	--color-base-primary-300: var(--theme-color-base-primary-300);

	--color-base-accent-100: var(--theme-color-base-accent-100);
	--color-base-accent-200: var(--theme-color-base-accent-200);
	--color-base-accent-300: var(--theme-color-base-accent-300);

	--color-primary: var(--theme-color-primary);
	--color-primary-50: var(--theme-color-primary-50);
	--color-primary-100: var(--theme-color-primary-100);
	--color-primary-200: var(--theme-color-primary-200);
	--color-primary-300: var(--theme-color-primary-300);
	--color-primary-400: var(--theme-color-primary-400);
	--color-primary-500: var(--theme-color-primary-500);
	--color-primary-600: var(--theme-color-primary-600);
	--color-primary-700: var(--theme-color-primary-700);
	--color-primary-800: var(--theme-color-primary-800);
	--color-primary-900: var(--theme-color-primary-900);
	--color-primary-950: var(--theme-color-primary-950);

	--color-accent: var(--theme-color-accent);
	--color-accent-50: var(--theme-color-accent-50);
	--color-accent-100: var(--theme-color-accent-100);
	--color-accent-200: var(--theme-color-accent-200);
	--color-accent-300: var(--theme-color-accent-300);
	--color-accent-400: var(--theme-color-accent-400);
	--color-accent-500: var(--theme-color-accent-500);
	--color-accent-600: var(--theme-color-accent-600);
	--color-accent-700: var(--theme-color-accent-700);
	--color-accent-800: var(--theme-color-accent-800);
	--color-accent-900: var(--theme-color-accent-900);
	--color-accent-950: var(--theme-color-accent-950);

	--color-background: var(--theme-color-background);
	--color-focus-outline: var(--theme-color-focus-outline);
	--color-underline-highlight: var(--theme-color-underline-highlight);

	--font-sans: "Figtree";
	--font-montserrat: "Montserrat";
	--font-mono:
		"ui-monospace", "SFMono-Regular", "Menlo", "Monaco", "Consolas",
		"Liberation Mono", "Courier New", "monospace";

	/* easings.net -- https://easings.net/#easeInOutSine */
	--animate-accordion-down: accordion-down 0.2s cubic-bezier(0.37, 0, 0.63, 1);
	--animate-accordion-up: accordion-up 0.2s cubic-bezier(0.37, 0, 0.63, 1);

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@custom-variant aria-current (&[aria-current="true"]);
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
	:root {
		@apply selection:bg-accent-100 selection:text-accent-950 dark:selection:bg-accent-400/20 dark:selection:text-accent-50;

		/* base-x-100 is background, base-x-200 is layering.
		Don't go over base-200, as contrast issues will occur */
		--theme-color-base-neutral-100: var(--color-gray-50);
		--theme-color-base-neutral-200: var(--color-gray-100);
		--theme-color-base-neutral-300: var(--color-gray-200);

		--theme-color-base-primary-100: var(--color-primary-50);
		--theme-color-base-primary-200: var(--color-primary-100);
		--theme-color-base-primary-300: var(--color-primary-200);

		--theme-color-base-accent-100: var(--color-accent-100);
		--theme-color-base-accent-200: var(--color-accent-200);
		--theme-color-base-accent-300: var(--color-accent-200);

		--theme-color-primary: var(--color-violet-300);
		--theme-color-accent: var(--color-lime-400);

		/* Consistent themes from light and dark */
		--theme-color-primary-50: var(--color-violet-50);
		--theme-color-primary-100: var(--color-violet-100);
		--theme-color-primary-200: var(--color-violet-200);
		--theme-color-primary-300: var(--color-violet-300);
		--theme-color-primary-400: var(--color-violet-400);
		--theme-color-primary-500: var(--color-violet-500);
		--theme-color-primary-600: var(--color-violet-600);
		--theme-color-primary-700: var(--color-violet-700);
		--theme-color-primary-800: var(--color-violet-800);
		--theme-color-primary-900: var(--color-violet-900);
		--theme-color-primary-950: var(--color-violet-950);

		--theme-color-accent-50: var(--color-lime-50);
		--theme-color-accent-100: var(--color-lime-100);
		--theme-color-accent-200: var(--color-lime-200);
		--theme-color-accent-300: var(--color-lime-300);
		--theme-color-accent-400: var(--color-lime-400);
		--theme-color-accent-500: var(--color-lime-500);
		--theme-color-accent-600: var(--color-lime-600);
		--theme-color-accent-700: var(--color-lime-700);
		--theme-color-accent-800: var(--color-lime-800);
		--theme-color-accent-900: var(--color-lime-900);
		--theme-color-accent-950: var(--color-lime-950);

		--theme-color-background: var(--color-white);
		--theme-color-focus-outline: var(--color-black);
		--theme-color-underline-highlight: var(--color-accent-800);
	}

	[data-theme="dark"] {
		--theme-color-base-neutral-100: var(--color-zinc-900);
		--theme-color-base-neutral-200: var(--color-zinc-800);
		--theme-color-base-neutral-300: var(--color-zinc-700);

		--theme-color-base-primary-100: var(--color-primary-900);
		--theme-color-base-primary-200: var(--color-primary-800);
		--theme-color-base-primary-300: var(--color-primary-700);

		--theme-color-base-accent-100: var(--color-accent-900);
		--theme-color-base-accent-200: var(--color-accent-800);
		--theme-color-base-accent-300: var(--color-accent-700);

		--theme-color-background: var(--color-zinc-950);
		--theme-color-focus-outline: var(--color-white);
		--theme-color-underline-highlight: var(--color-primary-300);
	}

	html {
		scrollbar-gutter: stable;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-montserrat;
	}

	/* Twemoji */
	img.emoji {
		@apply !pointer-events-none !m-[0_.07em] !inline !h-[1em] !w-[1em] !border-none !bg-none !p-0 !shadow-none;
	}

	footer img.emoji {
		@apply !align-[-.275em];
	}

	/* SkipLink from accessible-astro-components */
	body .skip-link a {
		@apply bg-background text-primary-900 ring-focus-outline rounded text-lg font-semibold transition-none outline-none focus-visible:ring-2 dark:text-gray-100 dark:ring-gray-50;
	}

	body .skip-link a:focus-visible {
		@apply top-1 left-1 outline-offset-2;
	}

	body main#main-content {
		@apply outline-none;
	}

	/* Leaflet Map */
	.leaflet-pane {
		@apply !z-10;
	}
	.leaflet-top,
	.leaflet-bottom {
		@apply !z-30;
	}
	.leaflet-control {
		@apply !z-20;
	}
	.leaflet-container {
		@apply !z-30;
	}

	/* Workaround for VoiceOver not declaring lists - requires lists to be
		marked as role="list" for this style to be applied, instead of
		applying it to all lists. This is because "ul" can change have its
		styling changed when using `format` (namely with spacing).
		https://gerardkcohen.me/writing/2017/voiceover-list-style-type.html */
	ul[role="list"] li {
		/* \200b is a zero-width space */
		@apply before:absolute before:content-['\200b'];
	}
}

@layer components {
	/* Default styling */
	a,
	button,
	select {
		@apply cursor-pointer;
	}

	button,
	select {
		@apply font-montserrat;
	}

	a,
	button,
	main,
	ul {
		@apply outline-focus-outline outline-offset-2 focus-visible:outline-2;
	}

	/* Article Formatting */
	.format {
		@apply format-code:font-normal format-table:tabular-nums;
	}

	.format figure:not(:where([class~="not-format"], [class~="not-format"] *)) {
		@apply mx-auto;
	}

	.format figure > div.side-by-side-images {
		@apply mx-auto flex justify-center gap-x-4;
	}

	.format figure > div.side-by-side-images > * {
		@apply w-1/2;
	}

	.format figure > div.side-by-side-images picture img {
		@apply my-0;
	}

	/* Custom for the finances article */
	.format .money-table table tbody {
		@apply font-mono;
	}
}

@layer utilities {
	.format {
		@apply format-blockquote:rounded-l;
	}

	.format
		:where(h1):not(:where([class~="not-format"], [class~="not-format"] *)) {
		@apply lg:leading-[1.166666667];
	}

	.format
		:where(h1):not(:where([class~="not-format"], [class~="not-format"] *)),
	.format
		:where(h2):not(:where([class~="not-format"], [class~="not-format"] *)),
	.format
		:where(h3):not(:where([class~="not-format"], [class~="not-format"] *)),
	.format
		:where(h4):not(:where([class~="not-format"], [class~="not-format"] *)),
	.format
		:where(h5):not(:where([class~="not-format"], [class~="not-format"] *)),
	.format
		:where(h6):not(:where([class~="not-format"], [class~="not-format"] *)) {
		@apply font-bold;
	}

	.format
		:where(.table-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		) {
		@apply grid grid-cols-1 overflow-auto whitespace-normal;
	}

	.format
		:where(table):not(:where([class~="not-format"], [class~="not-format"] *)) {
		@apply my-1;
	}

	.format
		:where(a):not(:where([class~="not-format"], [class~="not-format"] *)) {
		@apply hover:text-underline-highlight rounded underline [--underline-color:var(--tw-prose-links)] hover:[--underline-color:var(--theme-color-underline-highlight)] focus-visible:[--underline-color:var(--theme-color-underline-highlight)];
	}

	/* Rehype Autolink - Custom styles for heading anchor links. */
	.format .heading-wrapper {
		@apply relative [--icon-size:1em] [--icon-spacing:.25em];
	}

	.format .heading-wrapper > :first-child {
		margin-inline-end: calc(var(--icon-size) + var(--icon-spacing));
		@apply inline-block scroll-mt-[1em];
	}

	.format .heading-wrapper a svg {
		@apply relative inline w-(--icon-size) origin-center -rotate-45;
	}

	.format
		:where(.heading-wrapper.level-h2 + .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		)
		h3,
	.format
		:where(.heading-wrapper.level-h3 + .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		)
		h4 {
		@apply mt-0;
	}

	.format
		figure:has(+ .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		),
	.format
		figure:has(+ .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		)
		figcaption
		p:last-child {
		@apply mb-0;
	}

	.format
		p:has(+ .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		),
	.format
		ul:has(+ .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		),
	.format
		blockquote:has(+ .heading-wrapper):not(
			:where([class~="not-format"], [class~="not-format"] *)
		) {
		@apply mb-0;
	}

	.format .heading-wrapper + figure,
	.format .heading-wrapper + p,
	.format .heading-wrapper + pre,
	.format .heading-wrapper + ul,
	.format .heading-wrapper + div {
		@apply mt-0;
	}

	.format .heading-wrapper.level-h2 a {
		@apply text-[1.5em];
	}

	.format .heading-wrapper.level-h3 a {
		@apply text-[1.25em];
	}

	.format .heading-wrapper.level-h4 a,
	.format .heading-wrapper.level-h5 a,
	.format .heading-wrapper.level-h6 a {
		@apply text-[1em];
	}

	/* Prevent double or triple clicks from potentially selecting the anchor link a11y text. */
	.format .heading-wrapper a .sr-only {
		@apply select-none;
	}

	.format .heading-wrapper a {
		@apply text-accent-600 dark:text-accent-300 absolute inset-0 m-0 inline opacity-0 transition-opacity;
	}

	@media (hover: hover) {
		.format .heading-wrapper a {
			@apply relative ms-[calc(-1*var(--icon-size))] opacity-0;
		}

		.format .heading-wrapper:hover a,
		.format .heading-wrapper a:hover,
		.format .heading-wrapper a:focus-visible {
			@apply no-underline opacity-100;
		}

		.format .heading-wrapper a svg {
			@apply relative bottom-[.1em];
		}
	}

	@media (hover: none) {
		.format .heading-wrapper a:focus-visible {
			@apply no-underline opacity-100;
		}

		.format .heading-wrapper a:focus-visible svg {
			@apply opacity-0;
		}
	}

	.format .heading-wrapper:hover a:hover {
		@apply text-accent-700 dark:text-accent-50 saturate-[0.75];
	}

	/* Callouts */
	&
		.callout:where(.format > :first-child):not(
			:where([class~="not-format"], [class~="not-format"] *)
		) {
		/* For some reason, the ".callout" class overrides the default format behaviour?? */
		@apply !mt-0;
	}

	.callout {
		@apply my-[1.25em] rounded border-l-4 px-5 py-4 outline-none has-[+.heading-wrapper]:mb-0 lg:my-[1.3333333em] lg:py-5;
	}
	.callout[data-callout="info"] {
		@apply border-primary-500 bg-primary-50 marker:text-primary-300 selection:bg-primary-100 selection:text-primary-950 dark:border-primary-300 dark:bg-primary-900/15 dark:selection:bg-primary-900/50 dark:selection:text-primary-50;
	}
	.callout[data-callout="info"] a {
		@apply hover:text-primary-800 dark:hover:text-primary-300;
	}
	.callout[data-callout="warning"] {
		@apply border-yellow-500 bg-yellow-50 marker:text-yellow-300 selection:bg-yellow-200 selection:text-yellow-900 dark:bg-yellow-900/25 dark:selection:bg-yellow-900/50 dark:selection:text-yellow-50;
	}
	.callout[data-callout="warning"] a {
		@apply hover:text-yellow-800 dark:hover:text-yellow-300;
	}
	.callout[data-callout="caution"] {
		@apply border-red-500 bg-red-50 marker:text-red-300 selection:bg-red-200 selection:text-red-900 dark:bg-red-900/25 dark:selection:bg-red-900/50 dark:selection:text-red-50;
	}
	.callout[data-callout="caution"] a {
		@apply hover:text-red-800 dark:hover:text-red-300;
	}

	.callout .callout-title {
		@apply font-bold;
	}

	.callout[data-callout="info"] .callout-title {
		@apply text-violet-800 dark:text-violet-300;
	}
	.callout[data-callout="warning"] .callout-title {
		@apply text-yellow-800 dark:text-yellow-300;
	}
	.callout[data-callout="caution"] .callout-title {
		@apply text-red-800 dark:text-red-300;
	}

	.callout .callout-content {
		@apply relative dark:text-gray-200 [&>*]:first:mt-1 [&>*]:last:mb-0;
	}

	/* underline-animate custom component handling */
	underline-animate .format a.group\/underline {
		@apply no-underline;
	}

	underline-animate a.group\/underline.no-underline:where(:hover) span,
	underline-animate a.group\/underline.\!no-underline:where(:hover) span,
	underline-animate a.group\/underline.no-underline:where(:focus-visible) span,
	underline-animate
		a.group\/underline.\!no-underline:where(:focus-visible)
		span,
	underline-animate a.group\/underline span {
		/* See https://css-tricks.com/styling-underlines-web/#aa-border-bottom for text-shadow technique */
		@apply text-shadow-[-.0625em_-.0625em,_-.0625em_.0625em,_.0625em_-.0625em,_.0625em_.0625em,0_.0625em];
	}

	underline-animate a.group\/underline span {
		/* See https://stackoverflow.com/a/73043524 for animation reference */
		@apply bg-gradient-to-r bg-[length:100%_1px] bg-left-bottom bg-no-repeat motion-safe:transition-[background-size,color,--tw-gradient-from,--tw-gradient-to] motion-safe:ease-out motion-safe:group-hover/underline:bg-[length:85%_1px];

		/* Color styling */
		@apply text-shadow-background from-(--underline-color)/75 to-(--underline-color)/75 group-hover/underline:from-(--underline-color) group-hover/underline:to-(--underline-color) selection:text-shadow-none;
	}

	/* Animates a full underline */
	underline-animate a.group\/underline.no-underline span,
	underline-animate a.group\/underline.\!no-underline span {
		@apply bg-gradient-to-r bg-[length:0%_1px] bg-left-bottom bg-no-repeat group-hover/underline:bg-[length:100%_1px] motion-safe:transition-[background-size,color,--tw-gradient-from,--tw-gradient-to] motion-safe:ease-out motion-reduce:transition-none;
	}

	/* Tridactyl-specific hack for fixing contrast in hint mode (pressing "f") */
	underline-animate a.group\/underline.TridactylHintElem.no-underline span,
	underline-animate a.group\/underline.TridactylHintElem.\!no-underline span,
	underline-animate a.group\/underline.TridactylHintElem span,
	underline-animate a.group\/underline.TridactylHintActive.no-underline span,
	underline-animate a.group\/underline.TridactylHintActive.\!no-underline span,
	underline-animate a.group\/underline.TridactylHintActive span {
		@apply text-shadow-none;
	}

	underline-animate .callout a.group\/underline span {
		/* Transparent background makes things impossible */
		@apply !text-shadow-none;
		/* Compensating for background making the underline less transparent, by making the color less transparent */
		@apply from-(--tw-prose-links)/50 to-(--tw-prose-links)/50;
		@apply group-hover/underline:from-primary-800/25 group-hover/underline:to-primary-800/25;
		/* ...except for dark mode */
		@apply dark:group-hover/underline:from-primary-300/50 dark:group-hover/underline:to-primary-300/50;
	}

	underline-animate .callout[data-callout="warning"] a.group\/underline span {
		@apply group-hover/underline:from-yellow-800/50 group-hover/underline:to-yellow-800/50 dark:group-hover/underline:from-yellow-300/50 dark:group-hover/underline:to-yellow-300/50;
	}
}
