---
// import { getCollection } from "astro:content";
// import { TagEnum } from "../content/config";
import ArticleCard from "@/components/articles/ArticleCard.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

import RSSPromotion from "@/components/RSSPromotion.astro";
import UmbrellaWithGrass from "@/components/decorations/UmbrellaWithGrass.astro";
import Button from "@/components/primitives/Button.astro";
import StickerRound from "@/components/decorations/sticker-round/StickerRound.svelte";
import RoadBarrierWithGrass from "@/components/decorations/RoadBarrierWithGrass.astro";

// const posts = await getCollection("posts");

// type Props = {
// 	entry: CollectionEntry<"posts">;
// };
//
// const mostRecent = posts.sort(
// 	(p) => p.data.lastEdited?.getDate() ?? p.data.created.getDate()
// )[0];
---

<BaseLayout seo={{ title: "Home" }}>
	{
		/* Not entirely sure why this is focusable; it means its scrollable, but that shouldn't be the case?
		A tabindex of -1 has been applied here because I don't think this should be focusable */
	}
	<div
		class="text-primary-50 dark:text-primary-50/10 pointer-events-none absolute inset-0 -z-10 mt-42 hidden overflow-hidden text-[169px] leading-[.9] font-bold select-none sm:block"
		aria-hidden="true"
		tabindex={-1}
	>
		<div class="ml-[52.5vw]">
			<h1>Queer</h1>
			<h1 class="ml-28">Winnipeg</h1>
		</div>
	</div>
	<main
		id="main-content"
		class="format dark:format-invert lg:format-lg mx-auto -mt-8 w-full max-w-[1520px] pt-18"
	>
		<section class="flex w-full pr-4 pl-4 sm:pr-0">
			<span class="flex flex-col justify-center gap-y-1 sm:h-80 sm:w-7/12">
				<h1 class="!mb-0">Queer Winnipeg</h1>
				<h1 class="!m-0 font-bold text-gray-400" role="paragraph">
					<span class="sr-only">Queer Winnipeg</span> is an informal media org, writing
					articles for our local community and more.
				</h1>
			</span>
			<UmbrellaWithGrass />
		</section>
		<div class="flex flex-col gap-8 px-4">
			<section>
				<h2 class="!mb-[.75em] text-3xl lg:!mb-6 lg:!text-4xl">Featured</h2>
				<ul
					class="!m-0 grid list-none gap-6 !ps-0 md:grid-cols-2 lg:grid-cols-3"
					role="list"
				>
					<ArticleCard
						postId="how-to-take-the-bus-in-winnipeg.mdx"
						priority={true}
						class="lg:col-span-full"
					/>
					<ArticleCard
						postId="how-to-start-hrt-in-winnipeg.mdx"
						priority={true}
					/>
					<ArticleCard
						postId="how-to-change-your-legal-name-or-sex-in-manitoba.mdx"
						priority={true}
					/>
					<ArticleCard
						postId="save-hundreds-on-your-medications-with-pharmacare-manitoba.mdx"
						priority={true}
					/>
				</ul>
			</section>
			<section>
				<h2 class="!mb-[.75em] text-3xl lg:!mb-6 lg:!text-4xl">
					Assorted Articles
				</h2>
				<ul
					class="!m-0 grid list-none gap-6 !ps-0 md:grid-cols-2 lg:grid-cols-3"
					role="list"
				>
					<ArticleCard postId="if-stopped-by-police-know-your-rights.mdx" />
					<ArticleCard postId="a-guide-to-financial-literacy-in-canada.mdx" />
					<ArticleCard postId="crypto-101-for-non-crypto-bro-canadians.mdx" />
				</ul>
			</section>

			<!-- <RSSPromotion /> -->
		</div>
	</main>
	<!-- <section
		class="flex flex-col items-center overflow-x-clip lg:my-16 lg:flex-row "
	>
		<RoadBarrierWithGrass />
		<div
			class="bg-primary-400 dark:bg-primary-400/20 flex h-fit w-full max-w-[489px] rotate-3 flex-col gap-6 rounded-2xl p-8"
		>
			<h2
				class="selection:bg-primary-200/50 dark:selection:bg-primary-200/10 selection:unset !m-0 flex flex-col gap-y-3 !text-2xl font-bold text-black dark:text-gray-400"
			>
				Help us duct tape this thing: <span
					class="text-5xl font-bold !text-white">Contributions welcome!</span
				>
			</h2>
			<div class="block w-fit">
				<Button
					class="not-format"
					type="white"
					target="_blank"
					href="https://gitlab.com/queerwinnipeg/queerwinnipeg.ca"
					>Source code</Button
				>
			</div>
			<div class="pointer-events-none absolute inset-0">
				<div
					class="bg-primary-200/50 dark:bg-primary-200/10 absolute -top-3 -left-12 h-8 w-32 -rotate-12"
					aria-hidden="true"
				>
				</div>
				<div
					class="bg-primary-200/50 dark:bg-primary-200/10 absolute -right-12 -bottom-4 h-8 w-38 -rotate-24"
					aria-hidden="true"
				>
				</div>
				<StickerRound
					client:idle
					type="transgender"
					class="right-16 -bottom-8 rotate-7"
				/>
				<StickerRound
					client:idle
					type="rainbow"
					class="top-2/5 -right-5 -rotate-12"
				/>
			</div>
		</div>
	</section> -->
</BaseLayout>
