---
import Link from "@/components/primitives/Link.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
---

<ArticleLayout seo={{ title: "Privacy" }} legalTextFormatting={true}>
	<div class="mx-4">
		<h1>Privacy Policy</h1>
		<p>Last updated: May 18, 2025</p>
		<p>
			<strong>We believe privacy is a fundamental human right.</strong> This site
			does not sell your personal information to any third parties. All settings
			(like if you've set a specific theme) are stored within your browser's local
			storage.
		</p>
		<p>
			We do not use any trackers on this site. However, we may see aggregated
			data on what pages you visit, if you use Google search. If there is a
			tracker on our site though, please email us at <Link
				href="mailto:hello@queerwinnipeg.ca?subject=Tracker%20Found"
				>hello@queerwinnipeg.ca</Link
			> so we can fix that. We host this site on Cloudflare Pages, with analytics
			turned off.
		</p>
		<p>
			We also have links to third parties, which have their own privacy
			policies.
		</p>
		<p>This privacy policy may change at any time, with or without notice.</p>
	</div>
</ArticleLayout>
