---
import ArticleLayout from "../layouts/ArticleLayout.astro";
import Link from "../components/primitives/Link.astro";

const date = new Date();
---

<ArticleLayout seo={{ title: "Privacy" }} topSpacing={true}>
	<h1>Privacy Policy</h1>
	<p>
		Last updated: {
			date.toLocaleString(undefined, {
				dateStyle: "long",
			})
		}
	</p>
	<h2>What we collect</h2>
	<strong>We believe privacy is a fundemental human right.</strong>
	<p>We collect information about you through the following sources:</p>
	<ul>
		<li>
			<Link
				href="https://developers.cloudflare.com/analytics/faq/about-analytics/"
				target="_blank"
				referrerpolicy="no-referrer">Cloudflare Analytics</Link
			> — A privacy-respecting analytics platform, that collects aggregate deanonymized
			data. This includes:
			<ul>
				<li>Visits by:</li>
				<ul>
					<li>Referer (eg. the website that linked you here)</li>
					<li>Country (based on your IP)</li>
					<li>Browser (derived from your browser's user agent)</li>
					<li>What specific pages users visit</li>
				</ul>
				<li>Page load times</li>
			</ul>
		</li>
	</ul>
	<h2>What others collect</h2>
	<p>
		We also have links to third parties, which have their own privacy policies.
	</p>
	<h2>Opt out of data collection</h2>
	<p>
		To opt out of Cloudflare Analytics, you'll need to either:
		<ul>
			<li>
				Install <Link
					href="https://github.com/gorhill/uBlock/blob/master/README.md"
					target="_blank"
					referrerpolicy="no-referrer">uBlock Origin</Link
				>, a content blocker. Along with major desktop browsers, you can install
				this on mobile if you use <Link
					href="https://play.google.com/store/apps/details?id=org.mozilla.firefox"
					target="_blank"
					referrerpolicy="no-referrer">Firefox on Android</Link
				>. Browser extensions on iOS aren't supported.
			</li>
			<li>
				Try <Link
					href="https://brave.com/"
					target="_blank"
					referrerpolicy="no-referrer">Brave Browser</Link
				> for built-in adblocking, which works on any device including iOS.
				<ul>
					<li>
						Note that Brave's <Link
							href="https://web.archive.org/web/20210326003438/https://www.leafandcore.com/2016/09/03/brave-is-a-browser-that-could-save-the-web-but-its-from-an-awful-person/"
							target="_blank"
							referrerpolicy="no-referrer">CEO is homophobic</Link
						> and has a cryptocurrency token they distribute for when you view their
						ads.
					</li>
				</ul>
			</li>
			<li>
				Use an adblocking DNS such as <Link
					href="https://adguard-dns.io/en/public-dns.html"
					target="_blank"
					referrerpolicy="no-referrer">AdGuard DNS</Link
				>.
				<strong
					>We recommend you choose Method #2 instead of downloading an app!</strong
				>
			</li>
		</ul>
	</p>
</ArticleLayout>
