---
import Button from "@/components/primitives/Button.astro";
import Link from "@/components/primitives/Link.astro";

import RSSRings from "@/assets/decorations/rss-rings.svg";
import RSSFeed from "@/assets/decorations/rss-feed.svg";
---

<!-- Presumes that you already have `format` styling -->
<div
	class="flex w-full flex-col-reverse rounded-md bg-violet-50 sm:flex-row dark:bg-violet-800/10"
>
	<div
		class="my-auto flex flex-col justify-center gap-y-3 p-8 sm:h-auto sm:w-2/3 sm:p-10 md:w-1/2 lg:w-2/5"
	>
		<h2 class="!m-0 !text-xl">Get Notified for New Articles</h2>
		<p class="!m-0 max-w-[24rem]">
			We currently don't have an email newsletter, but we do have an <Link
				href="/rss.xml"
				class="!m-0 text-violet-800 hover:!text-violet-600 dark:text-violet-300 dark:hover:!text-violet-50"
				>RSS feed!</Link
			>
		</p>
		<div class="not-format mt-[.2em] flex">
			<!-- Disabled because its not implemented -->
			<!-- <Button
				id="enable-notifs"
				type="primary"
				class="not-format block"
				slotClass="px-1">Enable notifications</Button
			> -->
			<Button type="primary" class="not-format block" href="/posts/what-is-rss"
				>What is RSS?</Button
			>
		</div>
	</div>
	<div
		class="relative h-48 overflow-clip bg-gradient-to-b from-violet-100 to-violet-200 fill-violet-600 sm:h-auto sm:w-1/3 md:w-1/2 lg:w-3/5 dark:from-[#4d1d9557] dark:to-[#5a21b619] dark:fill-violet-400"
		style="clip-path: view-box;"
	>
		<div class="absolute inset-0 translate-x-0 -translate-y-1/2">
			<RSSRings aria-hidden={true} />
		</div>
		<div class="absolute inset-0 flex items-center justify-center">
			<RSSFeed width={80} class="absolute" fill="inherit" />
		</div>
	</div>
</div>

<script>
	import Bowser from "bowser";

	const button = document.getElementById(
		"enable-notifs",
	) as HTMLButtonElement | null;

	function onClick() {
		if (!("Notification" in window)) {
			alert("This browser does not support desktop notification");
			return;
		}

		modifyMessage();
		button?.removeEventListener("click", onClick);

		if (Notification.permission === "granted") {
			new Notification("Notifications has already been enabled!", {
				icon: "favicon.svg",
				body: "You probably shouldn't be seeing this message, though.",
			});
		} else if (Notification.permission !== "denied") {
			Notification.requestPermission().then((permission) => {
				if (permission === "granted")
					new Notification("Notifications enabled!", {
						icon: "favicon.svg",
						body: "Thank you for subscribing to our articles.",
					});
			});
		}
	}

	function cloneAttributes(target: HTMLBaseElement, source: HTMLButtonElement) {
		[...source.attributes].forEach((attr) => {
			target.setAttribute(attr.nodeName, attr.nodeValue ?? "");
		});
	}

	function modifyMessage() {
		const h2 = button?.parentElement?.parentElement
			?.getElementsByTagName("h2")
			.item(0);
		const p = button?.parentElement?.parentElement
			?.getElementsByTagName("p")
			.item(0);
		if (!(h2 && p && button && Notification.permission === "granted")) return;

		h2.setHTMLUnsafe("You enabled notifications!");
		p.setHTMLUnsafe(
			`To stop being notified on new articles, you'll need to revoke notification permissions in your browser or operating system.`,
		);

		// Clones the button into an anchor
		const anchor = document.createElement("a");
		anchor.innerHTML = button.innerHTML;
		cloneAttributes(anchor, button);

		// Then set the proper attributes
		const browser = Bowser.getParser(window.navigator.userAgent);
		let href = "";
		let label = "";
		switch (browser.getBrowserName(true)) {
			case "firefox":
				href =
					"https://support.mozilla.org/en-US/kb/push-notifications-firefox#w_upgraded-notifications";
				label = "Firefox notifications";
				break;
			case "safari":
				if (browser.getPlatformType(true) == "desktop") {
					href = "https://support.apple.com/en-ca/guide/safari/sfri40734/mac";
					label = "Safari notifications";
				} else {
					href =
						"https://support.apple.com/en-ca/guide/iphone/iph7c3d96bab/ios";
					label = "iPhone notifications";
				}
				break;
			default:
				if (browser.getOSName(true) == "ios") {
					href =
						"https://support.google.com/chrome/answer/3220216?hl=en&co=GENIE.Platform%3DiOS&oco=0";
				} else if (browser.getPlatformType(true) == "mobile") {
					href =
						"https://support.google.com/chrome/answer/3220216?hl=en&co=GENIE.Platform%3DAndroid&oco=0";
				} else {
					href =
						"https://support.google.com/chrome/answer/3220216?hl=en&co=GENIE.Platform%3DDesktop#zippy=%2Cblock-pop-ups-from-a-site";
				}
				label = "Chrome notifications";
				break;
		}
		anchor.setAttribute("href", href);
		anchor.setAttribute("target", "_blank");
		anchor.firstElementChild?.setHTMLUnsafe(label);

		// Cleanup
		button.removeEventListener("click", onClick);
		button.parentNode?.replaceChild(anchor, button);
	}

	modifyMessage();
</script>
