---
import type { Props as SEOProps } from "astro-seo";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	seo: SEOProps;
	hasImage?: boolean;
	disableFormat?: boolean;
}

const { hasImage, disableFormat } = Astro.props;
---

<BaseLayout {...Astro.props}>
	<article>
		<main
			id="main-content"
			class=`mx-auto ${!disableFormat ? " format dark:format-invert lg:format-lg" : ""} ${!hasImage ? 'py-32' : 'pt-4 lg:pt-10 pb-32'}`
		>
			<slot />
		</main>
	</article>
</BaseLayout>
