---
import type { Props as SEOProps } from "astro-seo";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	seo: SEOProps;
	legalTextFormatting?: boolean;
	disableFormat?: boolean;
}

const { legalTextFormatting, disableFormat } = Astro.props;
---

<BaseLayout {...Astro.props}>
	<article>
		<main
			id="main-content"
			class:list={[
				"mx-auto",
				{ "format dark:format-invert lg:format-lg": !disableFormat },
				{ "py-32": legalTextFormatting },
				{ "pt-4 pb-32 lg:pt-10": !legalTextFormatting },
			]}
		>
			<slot />
		</main>
	</article>
</BaseLayout>
