---
import Footer from "@/components/primitives/Footer.astro";
import Navbar from "@/components/primitives/Navbar.astro";
import SkipLink from "@/components/primitives/SkipLink.astro";
import type { Props as SEOProps } from "astro-seo";
import Head from "./Head.astro";

interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html
	lang="en"
	class="scroll-p-4"
	transition:name="root"
	transition:animate="none"
>
	<Head seo={seo} />
	<body class="bg-background flex min-h-screen flex-col font-sans">
		<SkipLink />
		<Navbar />
		<div class="mt-0 mb-auto flex flex-col">
			<slot />
		</div>
		<Footer />
	</body>
</html>
