---
import Head from "./Head.astro";
import Footer from "../components/primitives/Footer.astro";
import Navbar from "../components/primitives/Navbar.astro";
import { type Props as SEOProps } from "astro-seo";
import { SkipLink } from "accessible-astro-components";

interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-p-4">
	<Head seo={seo} />
	<body
		class="flex min-h-[calc(100vh-10rem)] flex-col font-sans dark:bg-gray-900"
	>
		<SkipLink />
		<Navbar />
		<div class="flex min-h-[calc(100vh-10rem)] flex-col">
			<slot />
		</div>
		<Footer />
	</body>
</html>
