---
import Navbar from "../components/primitives/Navbar.astro";
import Footer from "../components/primitives/Footer.astro";
import Head from "./Head.astro";
import { type Props as SEOProps } from "astro-seo";
import { SkipLinks } from "accessible-astro-components";

interface Props {
	seo: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-p-4">
	<Head seo={seo} />
	<body
		class="font-josefin-sans dark:bg-gray-900 flex flex-col min-h-[calc(100vh-10rem)]"
	>
		<SkipLinks />
		<Navbar />
		<div class="flex flex-col min-h-[calc(100vh-10rem)]">
			<slot />
		</div>
		<Footer />
	</body>
</html>
