---
import { GoogleFontsOptimizer } from "@herob191/astro-google-fonts-optimizer";
import twemoji from "@twemoji/api";
import GlobalStyles from "../components/GlobalStyles.astro";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
	seo: SEOProps;
	themeColor?: string;
}

const { seo, themeColor } = Astro.props;
const title = `${seo.title} | Queer Winnipeg`;
const description =
	seo.description ??
	"We're an online webpage of various written resources, primarily for queer people living in Winnipeg. Our goal is to help you navigate through life, through articles!";

const newSeoProp: SEOProps = {
	...seo,
	title: title,
	description: description,
	openGraph: {
		...seo.openGraph,
		basic: {
			...seo.openGraph?.basic,
			image: seo.openGraph?.basic.image ?? "/favicon.svg",
			title: seo.openGraph?.basic.title
				? `${seo.openGraph.basic.title} | Queer Winnipeg`
				: title,
			type: seo.openGraph?.basic.type ?? "jpg",
		},
		image: {
			...seo.openGraph?.image,
			url: seo.openGraph?.image?.url ?? "/favicon.svg",
		},
		optional: {
			siteName: "Queer Winnipeg",
			description: description,
		},
	},
	extend: {
		link: [{ rel: "icon", type: "image/svg", href: "/favicon.svg" }],
		meta: [{ name: "theme-color", content: themeColor ?? "#C4B5FD" }],
	},
};
---

<head>
	<meta charset="UTF-8" />
	<GoogleFontsOptimizer
		url="https://fonts.bunny.net/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
		preconnectUrl="https://fonts.bunny.net"
	/>
	<SEO {...newSeoProp} />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
	<GlobalStyles />
	<script
		is:inline
		src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js"
		crossorigin="anonymous"></script>
	<script is:inline>
		window.onload = function () {
			twemoji.parse(document.body, { folder: "svg", ext: ".svg" });
		};
	</script>
</head>
