---
import "../styles/global.css";

import ThemeProvider from "@/components/primitives/theme/ThemeProvider.astro";
import { SEO, type Props as SEOProps } from "astro-seo";
import Font from "astro/components/Font.astro";

interface Props {
	seo: SEOProps;
	themeColor?: string;
}

const { seo, themeColor } = Astro.props;
const title = seo.title ?? "Queer Winnipeg";
const description =
	seo.description ??
	"We're an online website of various written resources, primarily for queers living in Winnipeg. Our goal is to help you navigate through life, through articles!";

const newSeoProp: SEOProps = {
	...seo,
	title: `${seo.title} | Queer Winnipeg`,
	description: description,
	openGraph: {
		...seo.openGraph,
		basic: {
			...seo.openGraph?.basic,
			image: seo.openGraph?.basic.image ?? "/favicon@4x.png",
			title: seo.openGraph?.basic.title ?? seo.title ?? title,
			type: seo.openGraph?.basic.type ?? "jpg",
		},
		image: {
			...seo.openGraph?.image,
			url: seo.openGraph?.image?.url ?? "/favicon.svg",
		},
		optional: {
			siteName: "Queer Winnipeg",
			description: description,
		},
	},
	extend: {
		link: [{ rel: "icon", type: "image/svg", href: "/favicon.svg" }],
		meta: [{ name: "theme-color", content: themeColor ?? "#C4B5FD" }],
	},
};
---

<head>
	<meta charset="UTF-8" />
	<SEO {...newSeoProp} />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<Font cssVariable="--font-sans" preload />
	<Font cssVariable="--font-montserrat" preload />
	<link
		rel="alternate"
		type="application/rss+xml"
		title="Queer Winnipeg"
		href={`${Astro.site}rss.xml`}
	/>
	<title>{title}</title>
	<ThemeProvider />
	<script
		is:inline
		src="https://cdn.jsdelivr.net/npm/@twemoji/api@latest/dist/twemoji.min.js"
		crossorigin="anonymous"></script>
	<script is:inline>
		document.addEventListener("astro:page-load", () => {
			twemoji.parse(document.body, { folder: "svg", ext: ".svg" });
		});
		window.onload = function () {
			twemoji.parse(document.body, { folder: "svg", ext: ".svg" });
		};
	</script>
</head>
