---
import OpenInNew from "@/assets/icons/open-in-new.svg";
import { tv } from "tailwind-variants/lite";

interface Props {
	id?: string;
	href?: string;
	class?: string;
	target?: "_blank" | "_self" | "_parent" | "_top";
	type?: "primary" | "secondary" | "white";
}
const {
	href,
	target,
	class: className,
	type: buttonType,
	...rest
} = Astro.props;

const button = tv({
	base: "button",
	variants: {
		color: {
			primary: "button-primary",
			secondary: "button-secondary",
			white: "button-white",
		},
	},
	defaultVariants: {
		color: "primary",
	},
});
---

{
	href ? (
		<a
			href={href}
			target={target}
			class:list={[button({ color: buttonType }), className]}
			{...rest}
		>
			<slot />
			{target == "_blank" && (
				<>
					<OpenInNew
						width="1em"
						height="1em"
						fill="currentcolor"
						aria-hidden={true}
					/>
					<span class="sr-only"> Opens in new tab</span>
				</>
			)}
		</a>
	) : (
		<button class:list={[button({ color: buttonType }), className]} {...rest}>
			<slot />
		</button>
	)
}
