---
interface Props {
	id?: string;
	href?: string;
	class?: string;
	slotClass?: string;
	target?: "_blank" | "_self" | "_parent" | "_top";
	type?: "primary" | "secondary";
}
const {
	href,
	target,
	class: className,
	slotClass,
	type: buttonType,
	...rest
} = Astro.props;
---

{
	href ? (
		<a
			href={href}
			target={target}
			class:list={[
				"flex items-center justify-center h-12 rounded px-5 outline-none focus-visible:ring-2 ring-violet-800 dark:ring-gray-50 transition-colors active:transition-none",
				{
					"bg-violet-200 bg-opacity-50 dark:bg-violet-400 dark:bg-opacity-15 hover:bg-violet-200 dark:hover:bg-violet-400 dark:hover:bg-opacity-25 active:bg-violet-300 dark:active:bg-opacity-20 active:text-violet-950 dark:active:text-violet-400 text-violet-800 dark:text-violet-300":
						!buttonType || buttonType == "primary",
					"bg-gray-100 dark:bg-gray-400 hover:bg-gray-200 dark:bg-opacity-15 dark:hover:bg-gray-400 dark:hover:bg-opacity-25 active:bg-gray-300 dark:active:bg-opacity-20 active:text-gray-950 dark:active:text-gray-400 text-gray-800 dark:text-gray-300":
						buttonType == "secondary",
				},
				className,
			]}
			{...rest}
		>
			<div class={slotClass} style="position: relative; bottom: -0.1em;">
				<slot />
			</div>
		</a>
	) : (
		<button
			class:list={[
				"flex items-center justify-center h-12 rounded px-5 outline-none focus-visible:ring-2 ring-violet-800 dark:ring-gray-50 transition-colors active:transition-none",
				{
					"bg-violet-200 bg-opacity-50 dark:bg-violet-400 dark:bg-opacity-15 hover:bg-violet-200 dark:hover:bg-violet-400 dark:hover:bg-opacity-25 active:bg-violet-300 dark:active:bg-opacity-20 active:text-violet-950 dark:active:text-violet-400 text-violet-800 dark:text-violet-300":
						!buttonType || buttonType == "primary",
					"bg-gray-100 dark:bg-gray-400 hover:bg-gray-200 dark:bg-opacity-15 dark:hover:bg-gray-400 dark:hover:bg-opacity-25 active:bg-gray-300 dark:active:bg-opacity-20 active:text-gray-950 dark:active:text-gray-400 text-gray-800 dark:text-gray-300":
						buttonType == "secondary",
				},
				className,
			]}
			{...rest}
		>
			<div class={slotClass} style="position: relative; bottom: -0.1em;">
				<slot />
			</div>
		</button>
	)
}
