---
interface Props {
	id?: string;
	href?: string;
	class?: string;
	slotClass?: string;
	target?: "_blank" | "_self" | "_parent" | "_top";
	type?: "primary" | "secondary";
}
const {
	href,
	target,
	class: className,
	slotClass,
	type: buttonType,
	...rest
} = Astro.props;
---

{
	href ? (
		<a
			href={href}
			target={target}
			class:list={[
				"flex h-12 items-center justify-center rounded px-5 ring-violet-800 transition-colors outline-none focus-visible:ring-2 active:transition-none dark:ring-gray-50",
				{
					"bg-violet-200/50 text-violet-800 hover:bg-violet-200 active:bg-violet-300/20 active:text-violet-950 dark:bg-violet-400/15 dark:text-violet-300 dark:hover:bg-violet-400/25 dark:active:text-violet-400":
						!buttonType || buttonType == "primary",
					"bg-gray-100 text-gray-800 hover:bg-gray-200/15 active:bg-gray-300/20 active:text-gray-950 dark:bg-gray-400 dark:text-gray-300 dark:hover:bg-gray-400/25 dark:active:text-gray-400":
						buttonType == "secondary",
				},
				className,
			]}
			{...rest}
		>
			<div class={slotClass} style="position: relative; bottom: -0.1em;">
				<slot />
			</div>
		</a>
	) : (
		<button
			class:list={[
				"flex h-12 items-center justify-center rounded px-5 ring-violet-800 transition-colors outline-none focus-visible:ring-2 active:transition-none dark:ring-gray-50",
				{
					"bg-violet-200/50 text-violet-800 hover:bg-violet-200 active:bg-violet-300 active:text-violet-950 dark:bg-violet-400/15 dark:text-violet-300 dark:hover:bg-violet-400/25 dark:active:bg-violet-300/20 dark:active:text-violet-400":
						!buttonType || buttonType == "primary",
					"bg-gray-100 text-gray-800 hover:bg-gray-200 active:bg-gray-300/20 active:text-gray-950 dark:bg-gray-200/15 dark:bg-gray-400 dark:text-gray-300 dark:hover:bg-gray-400/25 dark:active:text-gray-400":
						buttonType == "secondary",
				},
				className,
			]}
			{...rest}
		>
			<div class={slotClass} style="position: relative; bottom: -0.1em;">
				<slot />
			</div>
		</button>
	)
}
