---
interface Props {
	type: "Info" | "Warning" | "Caution";
	typeText?: string;
}

const { type, typeText } = Astro.props;
---

<div
	class:list={[
		"callout rounded py-3 outline-none",
		"my-[1.25em] lg:my-[1.3333333em]", // Replicate `format lg:format-lg`
		{
			"callout-info px-5 border-l-4 border-violet-500 dark:border-violet-300 text-violet-700 dark:bg-violet-900 dark:bg-opacity-25 selection:bg-violet-100 selection:text-violet-950 dark:text-violet-300 dark:selection:text-violet-300 dark:selection:bg-violet-800 dark:selection:bg-opacity-50":
				type === "Info",
		},
		{
			"callout-warning px-5 border-l-4 border-yellow-500 bg-yellow-50 text-yellow-700 dark:bg-yellow-900 dark:bg-opacity-25 selection:bg-yellow-200 selection:text-yellow-900 dark:text-yellow-400 dark:selection:text-yellow-300 dark:selection:bg-yellow-800 dark:selection:bg-opacity-50":
				type === "Warning",
		},
		{
			"callout-caution px-5 border-l-4 border-red-500 bg-red-50 text-red-700 dark:bg-red-900 dark:bg-opacity-25 selection:bg-red-200  selection:text-red-900 dark:text-red-400 dark:selection:text-red-300  dark:selection:bg-red-900 dark:selection:bg-opacity-50":
				type === "Caution",
		},
	]}
>
	{
		typeText !== "" && (
			<strong>{typeText !== undefined ? typeText : type}: </strong>
		)
	}
	<div class="-my-[1.25em] lg:-my-[1.3333333em]">
		<slot />
	</div>
</div>
