---
import Link from "./Link.astro";
---

<footer class="bg-white dark:bg-gray-900" transition:persist>
	<div class="mx-auto w-full max-w-screen-xl px-4 pt-8 pb-6 sm:pt-16 lg:pb-8">
		<hr class="my-6 border-gray-200 md:mx-auto lg:my-8 dark:border-gray-700" />
		<div class="flex flex-col md:flex-row md:items-center md:justify-between">
			<span
				class="pb-2 text-sm font-medium text-gray-500 md:pb-0 md:text-center dark:text-gray-400"
			>
				Made with love, hope, and <Link
					href="https://youtu.be/CUgFQv4ocLI?t=7005"
					target="_blank"
					class="no-underline hover:underline">(especially trans) joy</Link
				> 💜
			</span>
			<ul
				class="mb-6 flex flex-wrap items-center text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400"
			>
				<li>
					<Link
						href="/"
						target="_self"
						referrerpolicy="strict-origin-when-cross-origin"
						class="me-4 hover:underline md:me-6">Home</Link
					>
				</li>
				<!-- <li>
					<Link
						href="/posts"
						target="_self"
						class="hover:underline me-4 md:me-6">Articles</Link
					>
				</li> -->
				<li>
					<Link
						href="https://gitlab.com/queerwinnipeg/queerwinnipeg.ca"
						target="_blank"
						class="me-4 hover:underline md:me-6">GitLab</Link
					>
				</li>
				<li>
					<Link href="/privacy" class="me-4 hover:underline md:me-6"
						>Privacy</Link
					>
				</li>
				<li>
					<Link href="#" class="me-4 hover:underline md:me-6">Back to Top</Link>
				</li>
			</ul>
		</div>
	</div>
</footer>
