---
import { BOTTOM_PAGE_SENTINEL_ID } from "@/constants";
import Link from "./Link.astro";
import QWLogo from "@/assets/icons/qw-logo.svg";
import UnderlineAnimate from "../underline-animate/UnderlineAnimate.astro";

const isProd = import.meta.env.PROD;
const date = new Date();
const year = date.getUTCFullYear();

let hash = "unknown";
let dirty = "";
try {
	const childProcess = await import("child_process");
	hash = childProcess.execSync("git rev-parse --short HEAD").toString().trim();

	try {
		childProcess.execSync("git diff-files --quiet");
	} catch (error) {
		const err = error as Error & { status: number };
		if (err.status === 1) {
			dirty = "-dirty";
		}
	}
} catch (error) {
	console.warn(error);
	console.warn("Continuing...");
}
---

<footer transition:persist id={BOTTOM_PAGE_SENTINEL_ID}>
	<div class="mx-auto w-full max-w-[1520px] px-4 pt-8 pb-6 sm:pt-12 lg:pb-12">
		<hr class="border-gray-200 md:mx-auto dark:border-gray-700" />
		<div
			class="my-[4.5rem] flex flex-col gap-x-24 gap-y-12 md:flex-row md:justify-between"
		>
			<div class="flex w-full flex-col gap-y-4.5">
				<Link
					href="/"
					class="w-fit transition-opacity select-none hover:text-violet-700 hover:opacity-85"
					><span role="img" aria-label="Logo">
						<QWLogo height="32" /></span
					></Link
				>
				<UnderlineAnimate>
					<span
						class="format lg:format-lg dark:format-invert block max-w-[491px]"
					>
						<h2 class="!m-0">Queer Winnipeg</h2>
						<p class="!mt-[.666667em] !mb-0">
							We’re an informal media org, writing articles for our local queer
							community and more. Made with love and <Link
								href="https://youtu.be/CUgFQv4ocLI?t=7005"
								target="_blank">queer joy</Link
							>.
						</p>
					</span>
				</UnderlineAnimate>
			</div>

			<div class="@container w-full">
				<UnderlineAnimate
					class="grid grid-cols-2 gap-x-6 gap-y-12 @md:grid-cols-3"
				>
					<div
						class="format-a:text-gray-500 format lg:format-lg dark:format-invert format-li:m-0 format-ul:ps-0 format-li:ps-0 format-headings:mb-0 dark:format-a:text-gray-400 flex max-w-[233px] flex-col gap-y-5"
					>
						<h2 class="!text-xl !font-semibold">Contact</h2>
						<ul class="flex list-none flex-col" role="list">
							<li>
								<Link
									href="https://bsky.app/profile/fio.queerwinnipeg.ca"
									class="block py-1.5 !no-underline">Bluesky</Link
								>
							</li>
							<li>
								<Link
									href="mailto:hello@queerwinnipeg.ca"
									class="block py-1.5 !no-underline">Email</Link
								>
							</li>
							<li>
								<Link
									href="https://gitlab.com/queerwinnipeg/queerwinnipeg.ca/-/issues"
									class="block py-1.5 !no-underline">Issue Tracker</Link
								>
							</li>
						</ul>
					</div>
					<div
						class="format-a:text-gray-500 format lg:format-lg dark:format-invert format-li:m-0 format-ul:ps-0 format-li:ps-0 format-headings:mb-0 dark:format-a:text-gray-400 flex max-w-[233px] flex-col gap-y-5"
					>
						<h2 class="!text-lg !font-semibold">Join us</h2>
						<ul class="flex list-none flex-col" role="list">
							<li>
								<Link
									href="https://gitlab.com/queerwinnipeg/queerwinnipeg.ca"
									class="block py-1.5 !no-underline">Repository</Link
								>
							</li>
							<li>
								<Link
									href="/posts/article-style-guide"
									class="block py-1.5 !no-underline">Style Guide</Link
								>
							</li>
						</ul>
					</div>
					<div
						class="format-a:text-gray-500 format lg:format-lg dark:format-invert format-li:m-0 format-ul:ps-0 format-li:ps-0 format-headings:mb-0 dark:format-a:text-gray-400 flex max-w-[233px] flex-col gap-y-5"
					>
						<h2 class="!text-lg !font-semibold">Legalese</h2>
						<ul class="flex list-none flex-col" role="list">
							<li>
								<Link href="/privacy" class="block py-1.5 !no-underline"
									>Privacy</Link
								>
							</li>
						</ul>
					</div>
				</UnderlineAnimate>
			</div>
		</div>
		<hr class="border-gray-200 md:mx-auto dark:border-gray-700" />
		<div
			class="format dark:format-invert format-p:m-0 flex max-w-full justify-between pt-8 text-gray-500 dark:text-gray-400"
		>
			<p>
				© <time
					datetime={isProd ? date.toISOString() : undefined}
					data-git-hash={`${isProd ? "prod" : "dev"}-${hash}${dirty}`}
					>{year}</time
				>
				Queer Winnipeg. All rights reserved, except where otherwise noted.
			</p>
		</div>
	</div>
</footer>
