---
import ThemeSelector from "@/components/primitives/theme/ThemeSelector.astro";
import { MAIN_NAV_ID } from "@/constants";
import Button from "./Button.astro";
import Link from "./Link.astro";
import QWLogo from "@/assets/icons/qw-logo.svg";
---

<nav id={MAIN_NAV_ID} class="z-10 flex w-full py-6">
	<div
		class="mx-auto flex w-full max-w-[1520px] items-center justify-between px-4 text-violet-900 dark:text-gray-50"
	>
		<Link
			href="/"
			class="transition-opacity select-none hover:text-violet-700 hover:opacity-85"
			><span role="img" aria-label="Logo"> <QWLogo height="32" /></span></Link
		>
		<div class="flex items-center gap-x-6">
			<ThemeSelector />
			<Button
				href="https://git.gay/QueerWinnipeg/queerwinnipeg.ca#welcome-to-the-queer-winnipeg-website-repository"
				target="_blank">Write for us!</Button
			>
		</div>
	</div>
</nav>
