---
import { MAIN_NAV_ID } from "@/constants";
import Background from "../../assets/josh-lavallee-sM0q8DxTkWQ-unsplash-crop.webp";
import Button from "./Button.astro";
import Link from "./Link.astro";
import ThemeSelector from "./ThemeSelector.astro";

import { Picture } from "astro:assets";
---

<div
	class="pointer-events-none absolute -z-10 h-[450px] select-none dark:hidden"
>
	<div
		class="absolute right-0 left-0 h-24 bg-gradient-to-b from-white via-white via-30%"
	>
	</div>
	<Picture
		alt=""
		src={Background}
		formats={["avif", "webp", "jpg"]}
		class="h-full object-cover"
		loading="eager"
		quality="high"
	/>
	<div
		class="absolute right-0 bottom-0 left-0 h-48 bg-gradient-to-t from-white via-white via-30%"
	>
	</div>
</div>
<nav
	id={MAIN_NAV_ID}
	class="z-10 flex w-full py-6"
	transition:animate="none"
	transition:persist
>
	<div
		class="mx-auto flex w-full max-w-screen-xl items-center justify-between px-4 text-violet-900 dark:text-gray-50"
	>
		<Link
			href="/"
			class="text-3xl font-bold text-gray-900 select-none hover:text-violet-700 hover:transition-colors dark:text-gray-50 dark:hover:text-violet-300"
			><span role="img" aria-label="Logo" class="relative top-[.1em]">QW</span></Link
		>
		<div class="flex items-center gap-x-6">
			<ThemeSelector />
			<Button
				href="https://gitlab.com/queerwinnipeg/queerwinnipeg.ca/-/blob/main/README.md?ref_type=heads#getting-started-for-writers"
				target="_blank">Write for us!</Button
			>
		</div>
	</div>
</nav>
